
*{/*Reset basico do css*/
    margin: 0; /* Remover todas as margens */
    padding: 0%;/* Remover todo o preenchimento */
    box-sizing: border-box; /*Inclui bordas e preenchimento para calcular o tamanho */

}
header{
    background-color: #0077b6;  /* Cor de fundo azul */
    color: white;               /* Cor do texto branco */
    padding: 1.6rem;            /* Espaçamento interno */
    margin-bottom: 1.6rem;      /* Espaçamento abaixo do cabeçalho */
}

h1{
    justify-content: center;
    text-align: center;
}

nav{
    padding: 0.6rem;
    gap: 1.6rem;
    text-align: center;
    
}
ul{
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 1.6rem;
    
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

h2{
    color: rgb(255, 255, 255);
    text-align: center;
}

p{
    color: white;
}
.banner{
padding: 1.6rem;
background-color: rgb(3, 9, 125); 
text-align: center;
margin-bottom: 1.6rem;}

#palestrantes h2{ 
color: black;
}