:root {
    --cor-fundo: #333;
    --cor-texto: #fff;
    --cor-header: #222;
    --cor-main: #111;
    --cor-secao: #222;
    --cor-borda: #444;

    --fonte-padrao: Arial, sans-serif;
    --tamanho-h1: 2rem;
    --tamanho-h2: 1.5rem;
    --tamanho-p: 1rem;

    --padding-padrao: 1rem;
    --padding-header: 2rem;
    --margin-padrao: 1rem;

    --largura-max-main: 75rem; /* 1200px convertido para rem */
    --largura-imagens: 6.25rem; /* 100px */
    --altura-imagens: 6.25rem; /* 100px */
    --border-radius: 0.3125rem; /* 5px */
    --border-size: 0.0625rem; /* 1px */
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

header{
    background-color: var(--cor-header);
    color: var(--cor-texto);
    text-align: center;
    padding: var(--padding-header);
}
header h1{
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-size: var(--tamanho-h1);

}

header img{
    margin: var(--margin-padrao);
    width: var(--largura-imagens);
    height: var(--altura-imagens);

}

main{
background-color: var(--cor-main);
padding: var(--padding-header);
margin: var(--margin-padrao) auto;
display: flex;
max-width: var(--largura-max-main);
flex-wrap: wrap;
}

h2{
    font-size: var(--tamanho-h2);
}
p{
    margin-top: var(--margin-padrao);
    font-size: var(--tamanho-p);
    text-align: justify;
}

section{
    flex: 1;
    margin: var(--margin-padrao);
    padding: var(--padding-padrao);
    background-color: var(--cor-secao);
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--cor-borda);
    
}
.band{
    display: flex;
    align-items: center;
    margin-bottom: var(--margin-padrao);
 
}


.band img{
width: var(--largura-imagens);
height: var(--altura-imagens);
margin-right: var(--margin-padrao);
object-fit: cover;
}

.band-info{
    flex: 1;
}



aside{
    background-color: var(--cor-secao);
    padding: var(--padding-padrao);
    margin: var(--margin-padrao);
    border-radius: var(--border-radius);
    border: var(--border-size) solid var(--cor-borda);
    margin-bottom: var(--margin-padrao);
}


aside p{
    margin-top: var(--margin-padrao);
    padding-bottom: var(--padding-padrao)
}
footer{
    bottom: 0;
    position: fixed;
    width: 100vw;
    text-align: center;
    background-color: var(--cor-secao);
    padding: var(--padding-padrao);
}